<div class="content">
  <ul class="mb-4">
    <% page.posts.each(function(post){%>
      <li class="card border-0 ">
        <div class="card-body pl-0">
          <h4 class="card-title">
            <a href="<%- url_for(post.path) %>"><%= post.title %></a>
          </h4>
          <p class="mb-2">
            <i class="fa fa-calendar" aria-hidden="true"></i> <%= date(post.date) %>
          </p>
          <div class="card-text">
            <div class="post-excerpt">
              <%- post.excerpt %>
            </div>
          </div>
          <a class="btn btn-outline-secondary float-right" href="<%- url_for(post.path) %>" role="button">阅读全文</a>
        </div>
      </li> 
    <% }); %>
  </ul>

  <% if (page.total > 1 ){ %>
  <div class="page-navigator">
    <%- paginator({prev_text:'<i class="fa fa-angle-double-left" aria-hidden="true"></i>上一页',next_text:'下一页<i class="fa fa-angle-double-right" aria-hidden="true"></i>'}) %>
  </div>
  <% } %>


</div>